<div class="allCourses">
  <div class="courseconts">
    <a href="">

    <img src="/static/images/k440uvrs.bmp" alt="" />
    <div class="coursetxt">
      <h5>$90.00</h5>
      <h3>The Complete Html and CSS Course</h3>
      <h6>05 hours 10minutes</h6>
      <div class="icons">
        <i class="fa-solid fa-star" style="color: #ffd43b"></i
        ><i class="fa-solid fa-star" style="color: #ffd43b"></i
        ><i class="fa-solid fa-star" style="color: #ffd43b"></i
        ><i class="fa-solid fa-star" style="color: #ffd43b"></i>
        <i class="fa-solid fa-star" style="color: #ffd43b"></i>
      </div>
      <div class="review">
        <p>{5 Review}</p>
      </div>
    </a>

    </div>

    <div class="courseconts">
      <div class="coursetxt">
        <h5>$90.00</h5>
        <h3>The Complete Html and CSS Course</h3>
        <h6>05 hours 10minutes</h6>
        <div class="icons">
          <i class="fa-solid fa-star" style="color: #ffd43b"></i
          ><i class="fa-solid fa-star" style="color: #ffd43b"></i
          ><i class="fa-solid fa-star" style="color: #ffd43b"></i
          ><i class="fa-solid fa-star" style="color: #ffd43b"></i>
          <i class="fa-solid fa-star" style="color: #ffd43b"></i>
        </div>
        <div class="review">
          <p>{5 Review}</p>
        </div>
      </div>
    </div>

    <div class="courseconts">
      <img src="/static/images/k440uvrs.bmp" alt="" />
      <div class="coursetxt">
        <h5>$90.00</h5>
        <h3>The Complete Html and CSS Course</h3>
        <h6>05 hours 10minutes</h6>
        <div class="icons">
          <i class="fa-solid fa-star" style="color: #ffd43b"></i
          ><i class="fa-solid fa-star" style="color: #ffd43b"></i
          ><i class="fa-solid fa-star" style="color: #ffd43b"></i
          ><i class="fa-solid fa-star" style="color: #ffd43b"></i>
          <i class="fa-solid fa-star" style="color: #ffd43b"></i>
        </div>
        <div class="review">
          <p>{5 Review}</p>
        </div>
      </div>
    </div>
    <div class="courseconts">
      <img src="/static/images/k440uvrs.bmp" alt="" />
      <div class="coursetxt">
        <h5>$90.00</h5>
        <h3>The Complete Html and CSS Course</h3>
        <h6>05 hours 10minutes</h6>
        <div class="icons">
          <i class="fa-solid fa-star" style="color: #ffd43b"></i
          ><i class="fa-solid fa-star" style="color: #ffd43b"></i
          ><i class="fa-solid fa-star" style="color: #ffd43b"></i
          ><i class="fa-solid fa-star" style="color: #ffd43b"></i>
          <i class="fa-solid fa-star" style="color: #ffd43b"></i>
        </div>
        <div class="review"></div>
      </div>
    </div>
  </div>
</div>
