<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">   
</head>
<body>
    <section class="about">
        <div class="abtimg">
            <img src="" alt="">
        </div>
        <div class="abtxt">
            <h2>Want to share your knowledge? join us a Mentor</h2>
            <p>High definition video is video of higher resolution an quality than standard and quality than standard definition. While
            there is no standardized meaning for high definition generally any video.
            <h4>Best Courses</h4>    
            <h5>Top rated Instructors</h5>
            <a href="" class="btn">Read More</a>
            </div>

    </section>
</body>
</html>