<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>

<body>
    <nav>
        <section class="logo"><img src="/static/images/cih.png" style="width: 60px;"></section>
        <ul>
            <li><a href="/">Home</li></a>
            <li><a href="#about">About</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/templates/contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="smallcont">
        <div>

            <h1> A Better </h1>
            <h1>Learning Journey</h1>
            <h1>Starts From Here</h1>

            <h4 style="color: white; margin-left:10px;margin-bottom: 25px;">Take more classes on programming lanuages
                and learn more
            </h4>
            <a href="/courses"
                style="padding: 10px 25px; color: white; background-color: rgb(5, 5, 218); border: none;">Take Now</a>
            <a class="hr" href="second .html" style="color: white;">Find Centre</a>

        </div>

    </div>
    <section class="container">
        <div class="containerbox">
            <div class="containerimg">
            <img src="/static/images/if4dg47o.bmp" alt="">
            </div>
            <div class="containertext">
                <h4>5k</h4>
                <p>Online course</p>
            </div>
        </div>
        <div class="containerbox">
            <div class="containerimg">
                <img src="/static/images/kat17ux2.bmp" alt="">
            </div>
            <div class="containertext">
                <h4>5k</h4>
                <p>Online course</p>
            </div>
        </div>

        <div class="containerbox">
            <div class="containerimg">
                <img src="/static/images/v7na1gpb.bmp" alt="">
            </div>
            <div class="containertext">
                <h4>5k</h4>
                <p>Online course</p>
            </div>
        </div>

        <div class="containerbox">
            <div class="containerimg">
                <img src="/static/images/rym9ila0.bmp" alt="">
            </div>
            <div class="containertext">
                <h4>5k</h4>
                <p>Online course</p>
            </div>
        </div>
     

    </section>
    
    <section class="categories" id="categories">
        <!-- <div class="centertext">
            <h5>CATEGORIES</h5>
            <h2>Popular categories</h2>
        </div> -->
        <div class="categoriescont">
            <div class="box">
                <a href="/courses/python">

                    <img src="/static/images/0j1grfnn.bmp"  alt="">
                    <h3>Phython</h3>
                    <p>5 Courses</p>
                </a>
            </div>
        </div>
        <div class="categoriescont">
            <div class="box">
            <a href="/courses/javascript">
                <img src="/static/images/8c7ylcht.bmp" alt="">
                <h3>Javascript</h3>
                <p>5 Courses</p>
            </a>
            </div>
        </div>
        <div class="categoriescont">
            <div class="box">
                <a href="/courses/data_science">
                <img src="/static/images/oux6fdfs.bmp" alt="">
                <h3>Data science</h3>
                <p>5 Courses</p>
                </a>
            </div>
        </div>    
        <div class="categoriescont">
            <div class="box">
                <a href="/courses/java">
                <img src="/static/images/vvypunv4.bmp" alt="">
                <h3>Java</h3>
                <p>5 Courses</p>
                </a>
            </div>
        </div>
    </section>
    <div class="mainbut">
        <a href="/courses" class="bbb">All Categories</a>
    </div>

    <section class="course">
        <div class="centertext">
            <h5>COURSES</h5>
            <H2>Explore Popular Courses</H2>
        </div>
        <div class="coursescont">
            <div class="rw">

                <img src="/static/images/k440uvrs.bmp" alt="">
                <div class="coursestxt">
                    <h5>$90.00</h5>
                    <h3>The Complete HTML CSS Course</h3>
                    <h6>5hours 10 minutes</h6>
                    <div class="rating">
                        <div class="icon">
                           <i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            
                        </div>
                        <div class="review">
                            <p>{5 review}</p>
                        </div>
                </a>

                    </div>
                </div>
            </div>
            <div class="rw">
                <img src="/static/images/k440uvrs.bmp" alt="">
                <div class="coursestxt">
                    <h5>$90.00</h5>
                    <h3>The Complete HTML CSS Course</h3>
                    <h6>5hours 10 minutes</h6>
                    <div class="rating">
                        <div class="icon">
                           <i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            
                        </div>
                        <div class="review">
                            <p>{5 review}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rw">
                <img src="/static/images/k440uvrs.bmp" alt="">
                <div class="coursestxt">
                    <h5>$90.00</h5>
                    <h3>The Complete HTML CSS Course</h3>
                    <h6>5hours 10 minutes</h6>
                    <div class="rating">
                        <div class="icon">
                           <i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            
                        </div>
                        <div class="review">
                            <p>{5 review}</p>
                        </div>
                    </div>
                </div>
            </div>
            



        </div>
        

        <div class="mainbut">
            <a href="/courses" class="bbb">Buy Now</a>
        </div>
    </section>

    <section class="cta">
        <div class="centertext">
            <h5 style="font-size: 30px;">Trusted By</h5>
       
        </div>

        <div class="ctacont">
            <div class="ctaimg">
                <img src="/static/images/75mjkutc.bmp" alt="">
            </div>
            <div class="ctaimg">
                <img src="/static/images/owyal2m5.bmp" alt="">

            </div>

        </div>
        
  
    </section>
    <section id="about" class="about">
        <div class="abtimg">
            <img src="/static/images/0de8df47267be83d61a44c1942bba889-removebg-preview.png" alt="">
        </div>
        <div class="abtxt">
            <h1 style="color: black;">About Us</h1>
            <h2>Want to share your knowledge? join us a Mentor</h2>
            <p>High definition video is video of higher resolution an quality than standard and quality than standard definition. While
            there is no standardized meaning for high definition generally any video.
            <h4>Best Courses</h4>    
            <h5>Top rated Instructors</h5>
            <a href="" class="bbb">Read More</a>
            </div>

        </section>    
</body>

</html>