<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='websiite.css')}}">
    <link rel="stylesheet" href="websiite.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <section class="container">
        <div class="containerbox">
            <div class="containerimg">
            <img src="/static/images/if4dg47o.bmp" alt="">
            </div>
            <div class="containertext">
                <h4>5k</h4>
                <p>Online course</p>
            </div>
        </div>
        <div class="containerbox">
            <div class="containerimg">
                <img src="/static/images/kat17ux2.bmp" alt="">
            </div>
            <div class="containertext">
                <h4>5k</h4>
                <p>Online course</p>
            </div>
        </div>

        <div class="containerbox">
            <div class="containerimg">
                <img src="/static/images/v7na1gpb.bmp" alt="">
            </div>
            <div class="containertext">
                <h4>5k</h4>
                <p>Online course</p>
            </div>
        </div>

        <div class="containerbox">
            <div class="containerimg">
                <img src="/static/images/rym9ila0.bmp" alt="">
            </div>
            <div class="containertext">
                <h4>5k</h4>
                <p>Online course</p>
            </div>
        </div>
     

    </section>
    
    <section class="categories" id="categories">
        <div class="centertext">
            <h5>CATEGORIES</h5>
            <h2>Popular categories</h2>
        </div>
        <div class="categoriescont">
            <div class="box">
                <a href="/courses/python">

                    <img src="/static/images/0j1grfnn.bmp"  alt="">
                    <h3>Phython</h3>
                    <p>5 Courses</p>
                </a>
            </div>
            <div class="categoriescont">
                <div class="box">
                <a href="/courses/javascript">
                    <img src="/static/images/8c7ylcht.bmp" alt="">
                    <h3>Javascript</h3>
                    <p>5 Courses</p>
                </a>
                </div>
                <div class="categoriescont">
                    <div class="box">
                     <a href="/courses/data_science">
                        <img src="/static/images/oux6fdfs.bmp" alt="">
                        <h3>Data science</h3>
                        <p>5 Courses</p>
                     </a>
                    </div>

                
                    <div class="categoriescont">
                        <div class="box">
                           <a href="/courses/java">
                            <img src="/static/images/vvypunv4.bmp" alt="">
                            <h3>Java</h3>
                            <p>5 Courses</p>
                           </a>
                        </div>
                      
                    
        </div>

    </section>
    <div class="mainbut">
        <a href="/courses" class="btn">All Categories</a>
    </div>

    <section class="course">
        <div class="centertext">
            <h5>COURSES</h5>
            <H2>Explore Popular Courses</H2>
        </div>
        <div class="coursescont">
            <div class="rw">
                <img src="/static/images/k440uvrs.bmp" alt="">
                <div class="coursestxt">
                    <h5>$90.00</h5>
                    <h3>The Complete HTML CSS Course</h3>
                    <h6>5hours 10 minutes</h6>
                    <div class="rating">
                        <div class="icon">
                           <i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            
                        </div>
                        <div class="review">
                            <p>{5 review}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rw">
                <img src="/static/images/9yvlrnc5bmp" alt="">
                <div class="coursestxt">
                    <h5>$90.00</h5>
                    <h3>The Complete Java Course</h3>
                    <h6>5hours 10 minutes</h6>
                    <div class="rating">
                        <div class="icon">
                           <i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            
                        </div>
                        <div class="review">
                            <p>{5 review}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rw">
                <img src="/static/images/k440uvrs.bmp" alt="">
                <div class="coursestxt">
                    <h5>$90.00</h5>
                    <h3>The Complete Python Course</h3>
                    <h6>5hours 10 minutes</h6>
                    <div class="rating">
                        <div class="icon">
                           <i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i
                           ><i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            
                        </div>
                        <div class="review">
                            <p>{5 review}</p>
                        </div>
                    </div>
                </div>
            </div>
            



        </div>
        

        <div class="mainbut">
            <a href="/courses" class="btn">Buy Now</a>
        </div>
    </section>

    <section class="cta">
        <div class="centertext">
            <h5 style="font-size: 30px;">Trusted By</h5>
       
        </div>

        <div class="ctacont">
            <div class="ctaimg">
                <img src="/static/images/75mjkutc.bmp" alt="">
            </div>
            <div class="ctaimg">
                <img src="/static/images/owyal2m5.bmp" alt="">

            </div>

        </div>
        
  
    </section>
    <section class="about">
        <div class="abtimg">
            <img src="/static/images/0de8df47267be83d61a44c1942bba889-removebg-preview.png" alt="">
        </div>
        <div class="abtxt">
            <h2>Want to share your knowledge? join us a Mentor</h2>
            <p>High definition video is video of higher resolution an quality than standard and quality than standard definition. While
            there is no standardized meaning for high definition generally any video.
            <h4>Best Courses</h4>    
            <h5>Top rated Instructors</h5>
            <a href="" class="btn">Read More</a>
            </div>

    </section>
   

        <script src="js/script.js"></script>
    </body>
</html>
</head>

<body>
    
</body>
</html>